# Unity specific
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Visual Studio / JetBrains Rider
.vscode/
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
.vs/

# Unity metadata
/jumping_pals/Assets/**/*.meta
/jumping_pals/Assets/UI/font/*.asset

# Packages
Packages/*/
!Packages/manifest.json

# Cache
.DS_Store
Thumbs.db

# Database
*.db

#Misc
credential.py
/jumping_pals/Assets/UI/font
.idea/
__pycache__