<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jumping Pals</title>

</head>

<body>

    <h1>Jumping Pals</h1>

    <!-- Embed del juego Unity -->
    <!-- <iframe src="path_to_webgl_build/index.html" width="800" height="600"></iframe> -->
    <img src="https://i.pinimg.com/736x/e3/24/f7/e324f790cfe0a51d76f98356475cc408.jpg" width="238" height="375" alt="Imagen temporal del videojuego">

    <h2>Crear Usuario</h2>

    <form id="addUserForm">
        <label for="name">Username:</label>
        <input type="text" id="name" placeholder="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" placeholder="password" required><br><br>

        <button type="submit">Create User</button>
    </form>

    <script>
        document.getElementById('addUserForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            let name = document.getElementById('name').value;
            let password = document.getElementById('password').value;

            let response = await fetch('http://localhost:5000/user', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: name, password: password })
            });

            let result = await response.json();
            console.log(result);

            if (result.message) {
                alert(result.message);
            } else if (result.error) {
                alert("Error: " + result.error);
            } else {
                alert('Error al añadir el usuario');
            }

            document.getElementById('name').value = '';
            document.getElementById('password').value = '';
        });
    </script>

    <h2>Modificar Usuario</h2>

    <form id="ModifyUserForm">
        <label for="currentName">Current Username:</label>
        <input type="text" id="currentName" placeholder="username" required><br><br>

        <label for="currentPassword">Current Password:</label>
        <input type="password" id="currentPassword" placeholder="password" required><br><br>

        <br><br>
        <label for="newName">New Username:</label>
        <input type="text" id="newName" placeholder="new username (optional)"><br><br>

        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" placeholder="new password (optional)"><br><br>

        <button type="submit">Modify User</button>
    </form>

    <script>
        document.getElementById('ModifyUserForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            let name = document.getElementById('currentName').value;
            let password = document.getElementById('currentPassword').value;
            let newName = document.getElementById('newName').value;
            let newPassword = document.getElementById('newPassword').value;
            let response = await fetch('http://localhost:5000/user', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: name, password: password, newName: newName, newPassword: newPassword })
            });

            let result = await response.json();
            console.log(result);

            if (result.message) {
                alert(result.message);
            } else if (result.error) {
                alert("Error: " + result.error);
            } else {
                alert('Error al modificar al usuario');
            }

            document.getElementById('currentName').value = '';
            document.getElementById('currentPassword').value = '';
            document.getElementById('newName').value = '';
            document.getElementById('newPassword').value = '';
        });
    </script>

    <h2>Eliminar Usuario</h2>

    <form id="deleteUserForm">
        <label for="deleteName">Username:</label>
        <input type="text" id="deleteName" placeholder="username" required><br><br>

        <label for="deletePassword">Password:</label>
        <input type="password" id="deletePassword" placeholder="password" required><br><br>

        <button type="submit">Delete User</button>
    </form>

    <script>
        document.getElementById('deleteUserForm').addEventListener('submit', async function(e) {
            e.preventDefault();

            let name = document.getElementById('deleteName').value;
            let password = document.getElementById('deletePassword').value;
            let response = await fetch(`http://localhost:5000/user`, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ name: name, password: password })
            });

            let result = await response.json();
            console.log(result);

            if (result.message) {
                alert(result.message);
            } else if (result.error) {
                alert("Error: " + result.error);
            } else {
                alert('Error al eliminar al usuario');
            }

            document.getElementById('deleteName').value = '';
            document.getElementById('deletePassword').value = '';

        });
    </script>

</body>

</html>